doctype html
.container-fluid
html(lang='ja')
  headmain
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='../css/vendors/lib.min.css')
    link(rel='stylesheet', type='text/css', href='../css/app.min.css')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
  body#main(style='min-width:768px;')
    nav.navbar.navbar-light.bg-light.navbar-static-top.navbar-expand-md
      .container
        a.navbar-brand(href='#') Assist-waifu2x
        form.form-inline.ml-auto
          .form-group
            select.form-control(name='lang')
              option ja
              option en
              option ru
    section.options
      .container
        form
          .form-group.row
            label.col-form-label.col-4(data-i18n='style.style')
            .col-8
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='style', value='art', checked='')
                span(data-i18n='style.art')
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='style', value='photo', disabled)
                span(data-i18n='style.photo')
      .container
        form
          .form-group.row
            label.col-form-label.col-4(data-i18n='noize.noize')
            .col-8
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='noise', value='0')
                span(data-i18n='noize.none')
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='noise', value='0', disabled)
                span(data-i18n='noize.low')
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='noise', value='1')
                span(data-i18n='noize.medium')
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='noise', value='2', checked='')
                span(data-i18n='noize.high')
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='noise', value='3', disabled)
                span(data-i18n='noize.highest')
        form
          .form-group.row
            label.col-form-label.col-4(data-i18n='upscaling.upscaling')
            .col-8
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='scale', value='1')
                span(data-i18n='upscaling.none')
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='scale', value='1', disabled)
                span(data-i18n='upscaling.1_6x')
              label.form-check-inline.form-check
                input.form-check-input(type='radio', name='scale', value='2', checked='')
                span(data-i18n='upscaling.2x')
        section.checkboxes
          form
            .form-group.row
              .col-12
                label.form-check-inline.form-check
                  input.form-check-input.allowable-download-original-size(type='checkbox')
                  span(data-i18n='options.download')
          form
            .form-group.row
              .col-12
                label.form-check-inline.form-check
                  input.form-check-input.allowable-only-show-expanded-image(type='checkbox')
                  span(data-i18n='options.tab')

    script(src='../js/vendors/lib.min.js')
    script(src='../js/popup.bundle.js')