doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='eiurur')
    title Converting ...

    link(rel='stylesheet', href="../css/app.min.css")


  body
    #result
      h1 Converting !!!

  script(src='../js/vendor/lib.min.js')
  script(src='../js/utils.bundle.js')
  script(src='../js/content.bundle.js')