doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css", href="../../css/vendors/lib.min.css")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
  body(style="min-width:400px;")

    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href="#") Assist-waifu2x

    .container
      form.form-horizontal
        .form-group
          label.control-label.col-xs-4 スタイル
          .col-xs-8
            label.radio-inline
              input(type='radio', name='style', value="art", checked)
              | イラスト
            label.radio-inline
              input(type='radio', name='style', value="photo")
              | 写真

    .container
      form.form-horizontal
        .form-group
          label.control-label.col-xs-4 ノイズ除去
          .col-xs-8
            label.radio-inline
              input(type='radio', name='noise', value="0")
              | なし
            label.radio-inline
              input(type='radio', name='noise', value="1", checked)
              | 弱
            label.radio-inline
              input(type='radio', name='noise', value="2")
              | 強
            label.radio-inline
              input(type='radio', name='noise', value="3")
              | Super

      form.form-horizontal
        .form-group
          label.control-label.col-xs-4 拡大
          .col-xs-8
            label.radio-inline
              input(type='radio', name='scale', value="0")
              | 1x
            label.radio-inline
              input(type='radio', name='scale', value="1")
              | 1.6x
            label.radio-inline
              input(type='radio', name='scale', value="2", checked)
              | 2x

      form.form-horizontal
        .form-group
          .col-xs-12
            .checkbox
              label
                input.allowable-download-original-size(type="checkbox")
                | 拡大に失敗したときは元の画像をダウンロードする

    script(src='../../js/vendors/lib.js')
    script(src='../../js/popup.js')
